<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Twitter Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      This is the help page for the
      <a href="http://www.siddtewari.com/twitter">Ruby on Rails TWitter</a>
      sample application.
</p> </body>
</html>